{% load staticfiles %}

<!doctype html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap stylesheets -->
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap-responsive.min.css' %}" />

        <!-- UMagellan stylesheets -->
        <link rel="stylesheet" href="{% static 'css/master.css' %}" />
		<link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">

        {% block extra_stylesheets %}
        {% endblock %}
    </head>

    <body>
        <!-- Top navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top top-navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <!-- Brand name -->
                    <a class="brand" href="{% url 'home' %}">
                        <img src="{% static 'img/logo.png' %}" alt="UMagellan logo" width="200" />
                    </a>

                    <!-- Nav links -->
                    <div class="nav-collapse collapse">
                        <!-- User links -->
                        <div class="user-links pull-right">
                            <span class="logged-in">
                                <!-- If user is logged in -->
                                <ul class="nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <span class="umagellan-user-name"></span> <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Account</a></li>
                                            <li><a href="#">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </span>
                            <span class="not-logged-in">
                                <!-- If user is not logged in -->
                                <ul class="nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, Guest <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'user_login_page' %}">Login</a></li>
                                            <li><a href="{% url 'user_create_page' %}">Register</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="container-fluid main-content">
            <div class="row-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div id="scripts">
            <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'lib/cookie/jquery.cookie.js' %}"></script>
            <script src="{% static 'js/navbar.js' %}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

            {% block extra_scripts %}
            {% endblock %}
        </div>
    </body>
</html>

