{% extends 'base.html' %}

{% block title %}
    UMagellan
{% endblock %}

{% block extra_scripts %}
    <script src="/static/js/index.js"></script>
{% endblock %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}

{% block content %}
    <!-- Sidebar -->
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Courses</li>
                    {% for course in courses %}
                        <li><a href="#">{{ course.department }}{{ course.course_number }}</a></li>
                    {% endfor %}
                    <li><a href="#">Add Class</a></li>
                
                <li class="nav-header">Routes</li>
                    {% for route in routes %}
                        <li><a href="#">{{ route.name }}</a></li>
                    {% endfor %}
        
                <li class="nav-header">Spots</li>
                    {% for spot in spots %}
                        <li><a href="#">{{ spot.name }}</a></li>
                    {% endfor %}
                    <li><a href="#">Add Spot</a></li>
            </ul>
        </div>
    </div>

    <!-- View content -->
    <div class="span10">
        <div id="map" class="smallmap"></div>
    </div>
{% endblock %}