{% extends 'base.html' %}

{% block title %}
    UMagellan
{% endblock %}

{% block extra_scripts %}
    <script src="/static/lib/handlebars/handlebars.js"></script>
    <script src="/static/lib/mousetrap/mousetrap.min.js"></script>
    <script src="/static/js/buildings.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/courses.js"></script>
{% endblock %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}

{% block extra_templates %}
    <link id="course_template" rel="template" href="/static/templates/course_table_row.mustache" />
{% endblock %}

{% block content %}
    <!-- Sidebar -->
    <div class="span3 sidebar">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#M" data-toggle="tab">Mon</a></li>
            <li><a href="#Tu" data-toggle="tab">Tue</a></li>
            <li><a href="#W" data-toggle="tab">Wed</a></li>
            <li><a href="#Th" data-toggle="tab">Thu</a></li>
            <li><a href="#F" data-toggle="tab">Fri</a></li>
            <li class="pull-right"><a href="#settings" data-toggle="tab"><i class="icon-cog"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="M">
                <h3>Monday</h3>
                <div class="error-field">
                    <div class="alert alert-danger"></div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th width="30%">Name</th>
                        <th width="20%">Type</th>
                        <th width="40%">Section</th>
                        <th width="10%"></th>
                    </tr>
                </table>
                <div class="add-course">
                    <p class="muted">Add Course</p>
                    <input type="text" name="name" class="name-field" placeholder="Name" />
                    <input type="text" name="section" class="section-field" placeholder="Section" />
                    <a href="#" class="btn btn-mini save-course">
                        <i class="icon-ok-sign"></i>
                    </a>
                </div>
            </div>
            <div class="tab-pane" id="Tu">
                <h3>Tuesday</h3>
                <div class="error-field">
                    <div class="alert alert-danger"></div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th width="30%">Name</th>
                        <th width="20%">Type</th>
                        <th width="40%">Section</th>
                        <th width="10%"></th>
                    </tr>
                </table>
                <div class="add-course">
                    <p class="muted">Add Course</p>
                    <input type="text" name="name" class="name-field" placeholder="Name" />
                    <input type="text" name="section" class="section-field" placeholder="Section" />
                    <a href="#" class="btn btn-mini save-course">
                        <i class="icon-ok-sign"></i>
                    </a>
                </div>
            </div>
            <div class="tab-pane" id="W">
                <h3>Wednesday</h3>
                <div class="error-field">
                    <div class="alert alert-danger"></div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th width="30%">Name</th>
                        <th width="20%">Type</th>
                        <th width="40%">Section</th>
                        <th width="10%"></th>
                    </tr>
                </table>
                <div class="add-course">
                    <p class="muted">Add Course</p>
                    <input type="text" name="name" class="name-field" placeholder="Name" />
                    <input type="text" name="section" class="section-field" placeholder="Section" />
                    <a href="#" class="btn btn-mini save-course">
                        <i class="icon-ok-sign"></i>
                    </a>
                </div>
            </div>
            <div class="tab-pane" id="Th">
                <h3>Thursday</h3>
                <div class="error-field">
                    <div class="alert alert-danger"></div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th width="30%">Name</th>
                        <th width="20%">Type</th>
                        <th width="40%">Section</th>
                        <th width="10%"></th>
                    </tr>
                </table>
                <div class="add-course">
                    <p class="muted">Add Course</p>
                    <input type="text" name="name" class="name-field" placeholder="Name" />
                    <input type="text" name="section" class="section-field" placeholder="Section" />
                    <a href="#" class="btn btn-mini save-course">
                        <i class="icon-ok-sign"></i>
                    </a>
                </div>
            </div>
            <div class="tab-pane" id="F">
                <h3>Friday</h3>
                <div class="error-field">
                    <div class="alert alert-danger"></div>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th width="30%">Name</th>
                        <th width="20%">Type</th>
                        <th width="40%">Section</th>
                        <th width="10%"></th>
                    </tr>
                </table>
                <div class="add-course">
                    <p class="muted">Add Course</p>
                    <input type="text" name="name" class="name-field" placeholder="Name" />
                    <input type="text" name="section" class="section-field" placeholder="Section" />
                    <a href="#" class="btn btn-mini save-course">
                        <i class="icon-ok-sign"></i>
                    </a>
                </div>
            </div>
            <div class="tab-pane" id="settings">
                <h3>Settings</h3>
                <form action="{% url 'set_user_home' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="home">Home</label>
                        <input type="hidden" class="user_curr_home" value="{{ user.profile.home }}">
                        <select name="user_home" class="homes"></select>
                    </div>
                    <input type="submit" name="submit" value="Save" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>

    <!-- View content -->
    <div class="span9 content">
        <div id="map" class="smallmap"></div>
    </div>
{% endblock %}
