<tr class="course-row {{name}}"
    data-course="{{name}}"
    data-section="{{section}}"
    data-start_time="{{start_time}}"
    data-end_time="{{end_time}}"
    data-build_code="{{build_code}}"
    data-room_number="{{room_number}}"
    data-section_days="{{section_days}}"
    data-link="{{link}}"
    data-tag="{{tag}}" >

    <td class="marker-img"></td>
    <td><a href="{{ link }}">{{name}}</a></td>
    <td>{{section}}</td>
    <td>{{build_code}}{{room_number}}</td>
    <td>
        {{#ifEq tag ''}}
            <span class="label label-info">Lec</span>
        {{/ifEq}}
        {{#ifEq tag 'null'}}
            <span class="label label-info">Lec</span>
        {{/ifEq}}
        {{#ifEq tag 'Discussion'}}
            <span class="label">Disc</span>
        {{/ifEq}}
        {{#ifEq tag 'Lab'}}
            <span class="label label-warning">Lab</span>
        {{/ifEq}}
    </td>
    <td><a href="#" class="rem-course" course_id="{{id}}">&times;</a></td>
</tr>

