<tr class="course-row"
    data-course="{{name}}"
    data-section="{{section}}"
    data-start_time="{{start_time}}"
    data-end_time="{{end_time}}"
    data-build_code="{{build_code}}"
    data-section_days="{{section_days}}"
    data-link="{{link}}"
    data-tag="{{tag}}" >

    <td><a href="{{ link }}">{{ name }}</a></td>
    <td>
        {{#ifCond tag 'Discussion'}}
            <span class="label">Disc</span>
        {{/ifCond}}
        {{#ifCond tag 'Lab'}}
            <span class="label label-warning">Lab</span>
        {{/ifCond}}
    </td>
    <td>{{section}}</td>
    <td><a href="#" class="rem-course" course_id="{{id}}">&times;</a></td>
</tr>

